@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
/* Use  -  Pixelify Sans  -  to target font */

/* to select id use the # followed by identifier */
/* to select class use the . follow by identifier */
/* select multiple elements by separating identifier with a , */

body {
    background-image: url(./images/Andromeda.jpg);
    backdrop-filter: blur(100px);
}

.navbarContainer {
    border: solid rgb(255, 255, 255) 2px;
    display: flex;
    justify-content: start;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbarContainer > .homeButton {
    display: flex;
}

.navbarContainer > .homeButton > a {
    color: white;
    font-family: Pixelify Sans;
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
    padding: 2px;
    border: solid white 2px;
    margin: 5px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
}

.navbarContainer > .homeButton > a:hover {
    filter: drop-shadow(3px 3px 3px rgb(31, 31, 31));
}

.navbarContainer > nav {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.navbarContainer > nav > a {
    color: white;
    font-family: Pixelify Sans;
    font-weight: 100;
    font-size: 30px;
    text-decoration: none;
    padding: 2px;
    border: solid white 2px;
    margin: 5px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
}

.navbarContainer > nav > a:hover {
    filter: drop-shadow(3px 3px 3px rgb(31, 31, 31));
}

h1, h2 {
    color: white;
    font-family: Pixelify Sans;
    font-weight: 100;
    text-decoration: underline;
    margin: 8px;
}

.aboutContainer {
    border: solid rgb(255, 255, 255) 2px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.aboutContainer > .content {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.aboutContainer > .content > .text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 70%;
}

.aboutContainer > .content > .text > p {
    font-family: Arial;
    font-weight: 300;
    color: white;
    width: 80%;
    margin: 10px;
}

.aboutContainer > .content > img {
    width: 30%;
    border: solid rgb(255, 255, 255) 2px;
}

.weekOneContainer {
    border: solid white 2px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekOneContainer > .content {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekOneContainer > .content > .text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 70%;
}

.weekOneContainer > .content > .text > p {
    font-family: Arial;
    font-weight: 300;
    color: white;
    width: 80%;
    margin: 10px;
}

.weekOneContainer > .content > img {
    width: 30%;
    border: solid rgb(255, 255, 255) 2px;
}

.weekTwoContainer {
    border: solid white 2px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekTwoContainer > .content {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekTwoContainer > .content > .text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 70%;
}

.weekTwoContainer > .content > .text > p {
    font-family: Arial;
    font-weight: 300;
    color: white;
    width: 80%;
    margin: 10px;
}

.weekTwoContainer > .content > img {
    width: 30%;
    border: solid rgb(255, 255, 255) 2px;
}

.weekThreeContainer {
    border: solid white 2px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekThreeContainer > .content {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.weekThreeContainer > .content > .text {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 70%;
}

.weekThreeContainer > .content > .text > p {
    font-family: Arial;
    font-weight: 300;
    color: white;
    width: 80%;
    margin: 10px;
}

.weekThreeContainer > .content > img {
    width: 30%;
    border: solid rgb(255, 255, 255) 2px;
}

footer {
    border: solid rgb(255, 255, 255) 2px;
    background: linear-gradient(#5a5cf7, #0c1ff5);
    display: flex;
    justify-content: start;
    margin-top: 50px;
    margin-bottom: 5px;
}

footer > p {
    color: white;
    font-family: Pixelify Sans;
    font-weight: 100;
    text-decoration: none;
    padding: 5px;
}

footer > a > img {
    width: 50px;
    padding: 5px;
    margin: 2px;
}

footer > a > img:hover {
    filter: drop-shadow(5px 5px 5px rgb(31, 31, 31));
}
